<script setup lang="ts">
import consolaGlobalInstance from 'consola';

  console.log('Layout scenario ...')
</script>


<template>
  <DocsPageLayout>
    <div>BARRE DE NAVIGATION :
        <a href="">acteurs</a>
        <a href="">PDF</a>
        <a href="">checklist</a>
    </div>
    <div class="toto">
      xx CECI EST un SCENARIO ....
    </div>

    <slot />
  </DocsPageLayout>
</template>

<style scoped>
.toto {
  background-color: #ff8000;
  font-size: 80px;
}
</style>
